.Sidebar {
  text-align: left;
  color: white;

  &-title {
    font-weight: bold;
    color: #0EB8BE;
  }

  &-content {
    li {
      input,
      label {
        cursor: pointer;
      }
    }

    li.selected {
      color: #950101;
    }

    &_action {
      background-color: #3D0000;
      color: white;
      border: none;
      height: 30px;
      border-radius: 5px;
      width: 100%;
      margin: 3px 0;
      cursor: pointer;
    }
  }
}