.Checkout {
    overflow-x: auto;
    height: calc(100% - 120px);
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 15px;

        div {
            input {
                width: calc(100% - 15px);
            }
        }

        .container-table {
            table {
                width: 100%;

                .total {
                    text-align: right;
                }
            }
        }

        .cart-button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                background-color: #3D0000;
                color: white;
                border: none;
                height: 30px;
                margin: 5px 0;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .container-name,
    .container-notes,
    .container-table {
        grid-column: span 2;
    }

    .container-notes {
        input {
            height: 100%;
        }
    }
}