.SearchInput {
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    align-items: center;

    input[type="search"] {
        border: none;
        background: transparent;
        margin: 0;
        padding: 7px 8px;
        font-size: 14px;
        color: inherit;
        border: 1px solid transparent;
        border-radius: inherit;

        &::placeholder {
            color: #bbb;
        }
    }

    button[type="submit"] {
        width: 40px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: inherit;
        cursor: pointer;
        color: white;
        background-color: transparent;
        &:hover {
            opacity: 1;
        }
    }
}